{% extends 'base_cand_interfaces.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">Add New Project </h1>

                {{ include('formation/_form.html.twig') }}

                <div class="text-center mt-3">
                    <a href="{{ path('formationFormateur_index') }}" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
