{% extends 'base.html.twig' %}

{% block title %}Seance{% endblock %}

{% block body %}
    <h1>Seance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seance.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ seance.designation }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ seance.duree }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('seance_list', {'id': seance.session.id}) }}">back to list</a>

{% endblock %}
