<form method="post" action="{{ path('inscri_formation_delete', {'id': inscri_formation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscri_formation.id) }}">
    <button class="btn">Delete</button>
</form>
