{% extends 'base_cand_interfaces.html.twig' %}

{% block title %}New InscriFormation{% endblock %}

{% block body %}
    <h1>Create new InscriDemande</h1>

    {{ include('inscri_formation/_form.html.twig') }}

    <a href="{{ path('inscri_formation_index') }}">back to list</a>
{% endblock %}
