{% extends 'base_cand_interfaces.html.twig' %}

{% block title %}New Session{% endblock %}

{% block body %}
    <h1>Add Interview</h1>

    {{ include('session/_form.html.twig') }}

    <a href="{{ path('sessionFormateur_index') }}">back to list</a>
{% endblock %}
