{% extends 'base.html.twig' %}

{% block title %}New ReclamationCandFormat{% endblock %}

{% block body %}
    <h1>Create new ReclamationCandFormat</h1>

    {{ include('reclamation_cand_format/_form.html.twig') }}

    <a href="{{ path('reclamation_cand_format_index') }}">back to list</a>
{% endblock %}
